.vscode/**
.github/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
**/tslint.json
contributing.md
.azure-pipelines.yml
shared.webpack.config.js
.eslintignore
.lsifrc.json
build/**
*.zip
*.vsix
release.config.js
test/names.yml
tmp/**
client/**
!client/out/extension.js
server/**
!server/out/server.js
